- if can?(:create, f => Analisy) || can?(:update, f.object)
	%tr.nested-fields{ class: "#{ 'new' if f.object.new_record? }  " }
		%td.small-1.text-center.field
			= f.object.code.blank? ? 'Nuovo' : f.object.code
			= f.hidden_field :skip_validate, value: true
			= f.hidden_field :id, value: f.object.id
			= f.hidden_field :author, value: current_user.label
		%td.small-5.field= f.select_field :analisy_type_id, AnalisyType.all.map{ |m| [ m.title, m.id ] }, { include_blank: false, label: 'false' }, { class: 'input-group-field select2' }
		%td.small-5.results.field= f.select_field :nuclide_ids, Nuclide.all.map{ |m| [ m.title, m.id ] }, { include_blank: false, label: 'false' }, { class: 'input-group-field select2', multiple: 'multiple' }
		%td.small-1.text-center= link_to_remove_association fa_icon('trash', class: 'button alert radius small expanded'), f
- else
	- unless f.object.job.blank?
		%tr
			%td.small-1.text-center= f.object.code
			%td.small-5= f.object.type.title
			%td.small-5.results
				%ul
					- f.object.results.each do | result |
						%li= result.full_result_with_nuclide
			%td.small-1.text-center.button-group
				= link_to fa_icon( 'search' ), job_sample_analisy_path(job_id: f.object.job.id, sample_id: f.object.sample_id, id: f.object.id), class: 'button transparent', data: { confirm: t('analisies', scope: 'jobs.redirect.confirmation', default: 'Are you sure?') } if can? :read, f.object
				= link_to fa_icon( 'print' ),  download_job_sample_analisy_path(job_id: f.object.job.id, sample_id: f.object.sample_id, id: f.object.id), class: 'button transparent', target: '_blank' if can? :print, f.object