Buongiorno #{ @user.label },
con la presente per informarTi che #{ @author.label } ti ha rimosso come #{ t( @role, scope: 'jobs.filter.roles', default: @role ).upcase } del proc/att "#{ @job.title }" con codice identificativo numero #{ @job.code }.

Da questo momento non puoi più gestire o modificare, gli attributi del proc/att.

Buon lavoro
Programma gestione procedimenti e attività #{Settings.config.group}

= "========================================="
ATTENZIONE
Questa e-mail è inviata automaticamente dal sistema dopo la creazione di un nuovo proc/att.
Il programma è compatibile con i più recenti browser web che supportano HTML5(Firefox, Chrome, IE11, EDGE, ... ). Sul browser deve essere attivo javascript e i cookie per l'autenticazione e l'utente deve essere abilitato al login.