- if can?(:create, @job)
  = form_with model: @job, data: { remote: 'false' }, :builder => ExtraFormWith do |f|
    .container
      .grid-y
        .cell= f.text_field :title, icon: 'pencil', inline: true
        .cell= f.date_field :open_at, icon: 'calendar', autocomplete: 'false', inline: true
        .cell= f.date_field :planned_closure_at, icon: 'calendar', autocomplete: 'false', inline: true
        .cell= f.switch_field :pa_support, class: 'switch-input input-group-field', inline: true
        .cell= f.switch_field :consolidated, class: 'switch-input input-group-field', inline: true
        .cell= f.textarea :body, inline: true, icon: 'pencil', valign: 'top'
        .cell= f.select_field_if true, :chief_id, @chiefs,  options: { icon: 'user-secret', include_blank: false, inline: true }, input_options: { class: 'input-group-field' }
        .cell= f.select_field_if true, :job_manager_ids, @managers, options: { icon: 'users', placeholder: @job.job_managers.pluck(:label).join(', '), valign: 'top', inline: true }, input_options: { include_blank: false, class: 'select2 input-group-field ', multiple: 'multiple', required: 'required' }
      .grid-x.grid-padding-x.grid-margin-y= f.submit_button icon: 'save'