%ol.grid-x
  %li#introduction.liv-1.small-12.cell= render 'manual_introduction'
  %li#roles.liv-1.small-12.cell= render 'manual_roles'
  %li#procedures.liv-1.small-12.cell= render 'manual_procedures'
  %li#reports.liv-1.small-12.cell= render 'manual_reports'
  %li#histories.liv-1.small-12.cell= render 'manual_histories'
  %li#print.liv-1.small-12.cell= render 'manual_print'
  %li#templates.liv-1.small-12.cell= render 'manual_templates'
  %li#administration.liv-1.small-12.cell= render 'manual_administration'
  -#
    %li#help.liv-1.small-12.cell= render 'manual_help'