@instructions_table = () ->
  if $('table#instructions-table').length
    search = window.location.search
    lang = $('html').attr( 'lang' )
    url = $('table#instructions-table').data('url')
    dom = if $('table#instructions-table').data('button') == false then 'lfrtip' else '<"text-center"B>lfrtip'
    $('table#instructions-table').DataTable
      'destroy': true
      'cache': true
      'processing': true
      'serverSide': true
      'searching': true
      'pageLength': 10
      'lengthMenu': [ [10, 20, 30, 50, 100, -1], [10, 20, 30, 50, 100, "Tutti"] ]
      'dom': dom
      'buttons': [
        { extend: 'excel', className: 'button transparent', exportOptions: { columns: ':visible' } }
        { extend: 'pdf', className: 'button transparent', exportOptions: { columns: ':visible' },  orientation: 'landscape' }
      ]
      'ajax': { 'url': url, 'dataType': 'json' }
      'columns': [
        { 'data': 'title', 'name': 'instructions.title' }
        { 'data': 'body', 'name': 'instructions.body' }
        { 'class': 'text-center', 'name': '' }
        { 'class': 'text-center', 'name': 'instructions.active' }
        { 'class': 'grid-container full text-right' }
      ]
      'columnDefs': [
        {
          'aTargets': [ 2 ]
          'mRender': ( data, type, full ) ->
            v = ''
            if full['file_name'] != null
              v = "<a href='#{ full['url'] }/<%= I18n.t('download', scope: 'routes', default: 'download') %>' target='_blank' ><%= I18n.t('download', default: 'Download' ) %></a> "
            else
              v = ""
            return v
        }
        {
          'aTargets': [ 3 ]
          'mRender': ( data, type, full ) ->
            v = ''
            if full['active']
              v = "<i class='fa fa-check'></i>"
            return v
        }
        {
          'aTargets': [ 4 ]
          'class': 'grid-container full text-right'
          'mRender': ( data, type, full ) ->
            v = ''
            if !$('body').hasClass('is-reveal-open')
              if full['editable']
                v += "<a class='button transparent reveal-modal' href='#{ full['url'] }/<%= I18n.t('edit', scope: 'routes', default: 'edit') %>' data-url='#{ full['url'] }/<%= I18n.t('edit', scope: 'routes', default: 'edit') %>?modal=1'><i class='fa fa-edit'></i></a>"
              else
                v += "<a class='button transparent disabled' disabled='disabled' title='Modifica non consentita'><i class='fa fa-edit'></i></a>"
              if full['deletable']
                v += "<a class='button transparent' href='#{ full['url'] }' data-method='delete' data-remote='false' data-confirm='<%= I18n.t('delete', scope: 'confirmations', default: 'The deleted data can not be recovered. If you confirm, all data, connected to it, will be deleted. Are you sure?' ) %>'><i class='fa fa-trash'></i></a>"
              else
                v += "<a class='button transparent disabled' disabled='disabled' title='Cancellazione non consentita'><i class='fa fa-trash'></i></a>"
            return v
        }
      ]
      'fnDrawCallback': (oSettings) ->
        link_to_modal( $('table#instructions-table') )
        $('table#instructions-table').find('.disabled').unbind('click').on 'click', ->
          return false
        return
      'order': [ [ 0, 'asc' ] ]
      'language': { "url": "<%= asset_path( ( I18n.locale || I18n.default_locale ).to_s + '.json') %>" }
    return