= form_with model: @unit, :builder => ExtraFormWith do |f|
  #unit.container
    .grid-y
      .cell= f.text_field :title, autocomplete: "off", inline: true, icon: 'pencil'
      .cell= f.text_field :html, autocomplete: "off", inline: true, icon: 'code'
      .cell= f.textarea :body, inline: true, autocomplete: "off", icon: 'pencil', valign: 'top'
      .cell= f.switch_field :active, class: 'switch-input input-group-field', inline: true, help: false
      .cell= f.submit_button icon: 'save', value: t( 'save' )