.grid-x.grid-padding-x
  - Settings.config.footer.links.each do | link |
    .cell.auto.shrink.show-for-medium.text-upcase= link_to fa_icon( link['icon'], text: link['title'] ), link['link'], target: '_blank'
  .cell.auto
    .grid-x
      #NewsCounter.cell.small-11{ style: 'cursor:pointer', data: { toggle: "offCanvasNews" } }
      .cell.small-1.text-right
        %button{ class: 'text-bold', style: 'cursor:pointer', data: { toggle: "offCanvasNews" } }= fa_icon('angle-double-up')
  .cell.show-for-medium.small-2.text-right= link_to fa_icon('copyright', text: Settings.config.copyright.title), Settings.config.copyright.link, target: '_blank'


#offCanvasNews.off-canvas.position-bottom{ data: { off_canvas: true } }
  %button.close-button{ aria: { label: "Close menu" }, data: { close: true } }
    %span{ aria: { hidden: "true" } } &times;
  .off-canvas-content{ data: { off_canvas_content: true } }
    .grid-y.grid-padding-y
      .links.show-for-small-only
        - Settings.config.footer.links.each do | link |
          .cell.text-upcase= link_to fa_icon( link['icon'], text: link['title'] ), link['link'], target: '_blank'
        .cell= link_to fa_icon('copyright', text: Settings.config.copyright.title), Settings.config.copyright.link, target: '_blank'
      .news-wrap.cell{ data: { title: "Aggiornamenti dal tuo ultimo accesso", url: news_url, fromdate: ( current_user.last_sign_in_at || Time.now ).strftime("%Y-%m-%d"), limit: 5, source_link: root_url, target_link: '_self', confirm: 'Stai per essere indirizzato alla pagina richiesta, confermi?' } }
      .cell.grid-x.grid-padding-x.small-up-1
        - unless Settings.news.link.blank?
          .news-wrap.cell{ data: { title: "#{ Settings.news.title }", source_link: "#{ Settings.news.link }", fromdate: ( current_user.last_sign_in_at || Time.now ).strftime("%Y-%m-%d"), url: "#{ Settings.news.link }" , limit: 5 } }